<div class="col-md-3 col-lg-2 bg-light sidebar">
{#<div class="col-md-3 col-lg-2 d-md-block bg-light sidebar">#}
    <!-- 模块 1 -->
{#    <div class="accordion" id="sidebarAccordion">#}
    <div class="sidebar-collapse collapsed" id="sidebarAccordion">
         <!-- 业务受理 -->
        <div class="sidebar-module">
            <h3>业务受理</h3>
            <ul class="nav flex-column">
                {% if 'receipt' in permissions %}
                    <li class="nav-item">
                        <a class="nav-link {% if active_menu == 'receipts' %}active{% endif %}" href="{{ url_for('main.receipts') }}">开发票</a>
                    </li>
                {% endif %}
                {% if 'discounts' in permissions %}
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'discounts' %}active{% endif %}" href="{{ url_for('main.discounts') }}">要优惠</a>
                </li>
                {% endif %}
                {% if 'special_apply' in permissions %}
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'special_apply' %}active{% endif %}" href="{{ url_for('main.special_apply') }}">数据调整（转移）</a>
                </li>
                {% endif %}
                {% if 'account_deletion' in permissions %}
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'account_deletion' %}active{% endif %}" href="{{ url_for('main.account_deletion') }}">公司账号注销</a>
                </li>
                {% endif %}
                {% if 'vip_refund' in permissions %}
                 <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'vip_refund' %}active{% endif %}" href="{{ url_for('main.vip_refund') }}">vip退费</a>
                </li>
                {% endif %}
                {% if 'shop_owner_change' in permissions %}
                 <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'shop_owner_change' %}active{% endif %}" href="{{ url_for('main.shop_owner_change') }}">店主更换</a>
                </li>
                {% endif %}
                <!-- 更多菜单项 -->
            </ul>
        </div>
        <!-- 数据统计 -->
        <div class="sidebar-module">
            <h3>数据统计</h3>
        {% if 'stat' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'stat_company' %}active{% endif %}" href="{{ url_for('main.stat_company') }}">公司</a>
                </li>
            </ul>

            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'stat_pay' %}active{% endif %}" href="{{ url_for('main.stat_pay') }}">付费</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'stat_pay_first' %}active{% endif %}" href="{{ url_for('main.stat_pay_first') }}">付费-首次</a>
                </li>
            </ul>
             <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'stat_operate' %}active{% endif %}" href="{{ url_for('main.stat_operate') }}">核心数据统计</a>
                </li>
            </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'stat_period' %}active{% endif %}" href="{{ url_for('main.stat_period') }}">试用期统计</a>
                </li>
            </ul>
             </ul>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'compre_export' %}active{% endif %}" href="{{ url_for('main.compre_export') }}">综合导出</a>
                </li>
            </ul>
         {% endif %}
        </div>
        <!-- 客户管理 -->
        <div class="sidebar-module">
            <h3>客户管理</h3>
        {% if 'company' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'companies' %}active{% endif %}" href="{{ url_for('main.companies') }}">客户列表</a>
                </li>
                <!-- 更多菜单项 -->
            </ul>

{#            <ul class="nav flex-column">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link {% if active_menu == 'presales_followup' %}active{% endif %}" href="{{ url_for('main.presales_followup') }}">客服协助跟进表</a>#}
{#                </li>#}
{#            </ul>#}
        {% endif %}


        {% if 'presales_progress' in permissions %}
              <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'presales_progress' %}active{% endif %}" href="{{ url_for('main.presales_progress') }}">售前跟进</a>
                </li>
            </ul>
         {% endif %}

        {% if 'sub_merchant' in permissions %}
              <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'sub_merchant' %}active{% endif %}" href="{{ url_for('main.sub_merchant_list') }}">子商户</a>
                </li>
            </ul>
         {% endif %}

         {% if 'stat_presales' in permissions %}
              <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'stat_presales' %}active{% endif %}" href="{{ url_for('main.stat_presales') }}">售前人员统计</a>
                </li>
            </ul>
         {% endif %}


        {% if 'presales_progress' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'operating_sub_company' %}active{% endif %}" href="{{ url_for('main.operating_sub_company') }}">客户运营人员管理</a>
                </li>
            </ul>
        {% endif %}

         {% if 'coop_ex_open' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'coop_ex_open' %}active{% endif %}" href="{{ url_for('main.coop_ex_open') }}">合作推广(公共)</a>
                </li>
            </ul>
            {% endif %}

         {% if 'coop_ex' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'coop_ex' %}active{% endif %}" href="{{ url_for('main.coop_ex') }}">合作推广</a>
                </li>
            </ul>
            {% endif %}
        </div>
         <!-- pms功能辅助 -->
        <div class="sidebar-module">
            <h3>辅助功能</h3>
        {% if 'bonus_search' in permissions %}
           <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'bonus_search' %}active{% endif %}" href="{{ url_for('main.bonus_search') }}">奖励金查询</a>
                </li>
             </ul>
        {% endif %}
        {% if 'contract_search' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'contract_search' %}active{% endif %}" href="{{ url_for('main.contract_search') }}">订单查询</a>
                </li>
             </ul>
        {% endif %}
        {% if 'api_list' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'api_list' %}active{% endif %}" href="{{ url_for('main.api_list') }}">API创建接口</a>
                </li>
             </ul>
        {% endif %}
        {% if 'code_modify' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'code_modify' %}active{% endif %}" href="{{ url_for('main.code_modify') }}">添加邀请码</a>
                </li>
             </ul>
        {% endif %}
         {% if 'guide_video' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'guide_video' %}active{% endif %}" href="{{ url_for('main.guide_video') }}">指引视频</a>
                </li>
             </ul>
        {% endif %}
        {% if 'initial_order' in permissions %}
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'initial_order' %}active{% endif %}" href="{{ url_for('main.initial_order') }}">初始化订单</a>
                </li>
             </ul>
        {% endif %}
{#        {% if 'guide_video' in permissions %}#}
{#            <ul class="nav flex-column">#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link {% if active_menu == 'data_changes_toys' %}active{% endif %}" href="{{ url_for('main.data_changes_toys') }}">数据变动工具</a>#}
{#                </li>#}
{#             </ul>#}
{#        {% endif %}#}

        </div>
        <!-- 系统管理 -->
        <div class="sidebar-module">
            <h3>系统管理</h3>
            <ul class="nav flex-column">
            {% if 'account' in permissions %}
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'accounts' %}active{% endif %}" href="{{ url_for('main.accounts') }}">账号管理</a>
                </li>
            {% endif %}
            {% if 'role' in permissions %}
                <li class="nav-item">
                    <a class="nav-link {% if active_menu == 'roles' %}active{% endif %}" href="{{ url_for('main.roles') }}">角色管理</a>
                </li>
            {% endif %}
{#            {% if 'role' in permissions %}#}
{#                <li class="nav-item">#}
{#                    <a class="nav-link {% if active_menu == 'auto_deploy' %}active{% endif %}" href="{{ url_for('main.auto_deploy') }}">本地版本部署</a>#}
{#                </li>#}
{#            {% endif %}#}
                <!-- 更多菜单项 -->
            </ul>
        </div>

        <!-- 更多模块 -->
    </div>
{#</div>#}
</div>

