{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
          {% if messages %}
              <div class="alert alert-warning alert-dismissible fade show" role="alert" id="flash-message">
                {{ messages[0] }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('main.account_modify_password') }}" method="post" id="account_modify_password_form">
            <!-- 密码 -->
            <div class="row mb-3">
                <label for="password" class="col-sm-1 col-form-label">旧密码：<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="password" name="password" required >
                </div>
            </div>
            <!-- 密码 -->
            <div class="row mb-3">
                <label for="new_password" class="col-sm-1 col-form-label">新密码：<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="new_password" name="new_password" required >
                </div>
            </div>
            <!-- 密码 -->
            <div class="row mb-3">
                <label for="new_password_confirm" class="col-sm-1 col-form-label">密码确认：<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="new_password_confirm" name="new_password_confirm" required >
                </div>
            </div>
            <button type="submit" class="btn btn-primary me-2">提交</button>
            <a href="{{ url_for('main.index') }}" class="btn btn-secondary">取消</a>
        </form>
    </div>
    <script>
        //alert弹窗自动消失
        window.onload = function() {
            let flashMessage = document.getElementById('flash-message');
            if (flashMessage) {
                setTimeout(function() {
                    flashMessage.style.display = 'none';
                }, 3000);
            }
        };

        document.getElementById('account_modify_password_form').onsubmit = function(e) {
            var newPassword = document.getElementById('new_password').value;
            var confirmPassword = document.getElementById('new_password_confirm').value;

            // 确保密码和确认密码匹配
            if (newPassword !== confirmPassword) {
                alert('新密码和确认密码不匹配。');
                e.preventDefault();
                return false;
            }
        };

    </script>

{% endblock %}
