{% extends 'layout/base.html' %}

{% block content %}
<div class="container">
      <form id="add-api-form" method="post">
{#    <form action="{{ url_for('main.add_api') }}" method="post" id="transferForm" enctype="multipart/form-data">#}

         <!-- 公司ID -->
        <div class="row mb-3">
            <label for="company_id" class="col-sm-1 col-form-label">公司ID：<span class="text-danger">*</span></label>
            <div class="col-sm-3 d-flex align-items-center">
                <input type="text" class="form-control" id="company_id" name="company_id" required>
            </div>
            <div id="company_id_feedback" class="form-text text-danger" style="margin-left: 110px;"></div>
        </div>

        <!-- 推送渠道 -->
        <div class="row mb-3">
            <label for="channel" class="col-sm-1 col-form-label">推送渠道：</label>
            <div class="col-sm-5 d-flex align-items-center">
                <select class="form-select me-2 search_operator" name="channel" id="channel" onchange="updateChannelDetails()">
                    <option value=''>请选择渠道</option>
                    {% for channel in channels %}
                        <option value='{{ channel.id }}' data-name='{{ channel.channel }}' data-address='{{ channel.address }}'>{{ channel.channel }}</option>
                    {% endfor %}
                    <option value='new' data-name='' data-address=''>新建渠道</option>
                </select>
            </div>
        </div>

        <!-- 渠道名称 -->
        <div class="row mb-3" id="channelNameRow" style="display:none;">
            <label for="channel_name" class="col-sm-1 col-form-label">渠道名称：</label>
            <div class="col-sm-2 d-flex align-items-center">
                <input type="text" class="form-control" id="channel_name" name="channel_name">
            </div>
        </div>

        <!-- 推送地址 -->
        <div class="row mb-3" id="pushaddressRow" style="display:none;">
            <label for="pushaddress" class="col-sm-1 col-form-label">推送地址：</label>
            <div class="col-sm-5">
                <textarea class="form-control" id="pushaddress" name="pushaddress" style="height: 150px"></textarea>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-10 offset-sm-1">
                <button type="submit" class="btn btn-primary me-2">创建api授权</button>
                <a href="{{ url_for('main.api_list') }}" class="btn btn-secondary">取消</a>
            </div>
        </div>
    </form>
</div>

<!-- JavaScript 用于更新渠道名称和推送地址 -->
<script>
 $(document).ready(function () {
            $('#add-api-form').on('submit', function (event) {
                event.preventDefault();  // 阻止表单默认提交行为

                const formData = $(this).serialize();  // 序列化表单数据

                $.ajax({
    url: "{{ url_for('main.add_api') }}",
    type: 'POST',
    data: formData,
    success: function (response) {
        if (response.success) {
            {#alert('保存成功！');#}
            // 跳转到 presales_progress 页面
            window.location.href = "{{ url_for('main.api_list') }}";
        } else {
            $('#company_id_feedback').text(response.message);
        }
    },
    error: function (jqXHR, textStatus, errorThrown) {
        console.error('Error:', textStatus, errorThrown);
        alert('发生错误，请稍后再试。');
    }
});
            });
        });

function updateChannelDetails() {
    var channelSelect = document.getElementById("channel");
    var channelNameInput = document.getElementById("channel_name");
    var pushaddressInput = document.getElementById("pushaddress");
    var channelNameRow = document.getElementById("channelNameRow");
    var pushaddressRow = document.getElementById("pushaddressRow");

    var selectedOption = channelSelect.options[channelSelect.selectedIndex];
    var channelName = selectedOption.getAttribute('data-name');
    var pushaddress = selectedOption.getAttribute('data-address');

    if (channelSelect.value !== '') {
        channelNameInput.value = channelName;
        pushaddressInput.value = pushaddress;
        channelNameRow.style.display = "flex";
        pushaddressRow.style.display = "flex";
    } else {
        channelNameInput.value = '';
        pushaddressInput.value = '';
        channelNameRow.style.display = "none";
        pushaddressRow.style.display = "none";
    }
}

function showCopySuccessToast() {
        console.log("showCopySuccessToast")
        var toastDiv = document.createElement('div');
        toastDiv.textContent = '已提交成功';
        toastDiv.style.position = 'fixed';
        toastDiv.style.top = '10%';
        toastDiv.style.left = '50%';
        toastDiv.style.transform = 'translateX(-50%)';
        toastDiv.style.backgroundColor = '#f8d7da';
        toastDiv.style.color = '#721c24';
        toastDiv.style.padding = '10px';
        toastDiv.style.borderRadius = '5px';
        toastDiv.style.zIndex = '1000';
        toastDiv.style.minWidth = '250px';
        toastDiv.style.boxShadow = '0 2px 4px rgba(0, 0, 0, 0.1)';
        document.body.appendChild(toastDiv);
        // 移除提示信息
        setTimeout(function () {
            document.body.removeChild(toastDiv);
        }, 2000);
    }
</script>
{% endblock %}
