{% extends 'layout/base.html' %}

{% block content %}
    <div class="content-area">
        <!-- 顶部操作栏 -->
        <div class="d-flex align-items-center flex-wrap mb-3">
            <!-- 操作按钮 -->
{#            <a href="{{ url_for('main.add_vip_refund') }}" class="btn btn-primary me-2 mb-2">添加邀请码</a>#}

            <a href="#" class="btn btn-primary me-2 mb-2 baseedit-button" data-bs-toggle="modal" data-bs-target="#baseModal">添加邀请码</a>



            <!-- 查询表单 -->
            <form action="{{ url_for('main.code_modify') }}" method="get" class="d-flex align-items-center mb-2 flex-grow-0">
    <input type="text" class="input-group-text me-2" name="company_id" id="companyIdInput" placeholder="输入公司ID" value="{{ request.args.get('company_id', '') }}">
    <input type="text" class="input-group-text me-2" name="code" placeholder="输入邀请码" value="{{ request.args.get('code', '') }}">
    <button type="submit" class="btn btn-outline-primary" id="search_submit">查询</button>
</form>
          </div>
        <table class="table table-striped table-bordered table-light table-hover">
            <thead>

            <tr>
                <th>公司ID</th>
                <th>公司名称</th>
                <th>邀请码</th>
                <th>联系方式</th>
                <th>备注</th>
                <th>到期时间</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for result  in results %}
                <tr style="">
                    <td>
                         <a href="https://www.bypms.cn/admin/user/fakelogin?companyId={{ result.company_id }}" target="_blank">
                                {{ result.id }}
                            </a>
                    </td>
                    <td>{{ result.company_name|default('', true) }}</td>
                    <td>{{ result.from_code|default(0, true) }}</td>
                    <td>{{ result.offical_remark|default('', true) }}</td>
                    <td>{{ result.remark|default('', true) }}</td>
                    <td>{{ result.end_date|default('', true) }}</td>
                    <td>{{ result.create_time|default('', true) }}</td>
                    <td>

                        <a href="#" class="baseedit-button" data-id="{{ result.id }}"  data-code="{{ result.from_code }}"
           data-bs-toggle="modal" data-bs-target="#baseModal">编辑</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

 <!-- 编辑Modal -->
    <div class="modal fade" id="baseModal" tabindex="-1" aria-labelledby="baseModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">基础资料编辑</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="baseeditForm">
                    <div class="row mb-3">
                        <label for="company_id" class="col-sm-2 col-form-label">公司ID:<span class="text-danger">*</span></label>
                        <div class="col-sm-5 d-flex align-items-center">
                            <input type="number" class="form-control" id="company_id" name="company_id" required>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <label for="code" class="col-sm-2 col-form-label">邀请码：<span class="text-danger">*</span></label>
                        <div class="col-sm-5 d-flex align-items-center">
                            <input type="text" class="form-control" id="code" name="code" required>
                        </div>
                    </div>

                    <input type="hidden" name="id" id="id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                <button type="submit" form="baseeditForm" class="btn btn-primary">保存</button>
            </div>
        </div>
    </div>
</div>
        <!-- 底部分页控件 -->
        <nav aria-label="Page navigation" class="d-flex justify-content-end pagination-container">
    <ul class="pagination pagination-sm">
        <li class="page-item {% if page <= 1 %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('main.code_modify', page=page-1, company_id=request.args.get('company_id', ''), code=request.args.get('code', '')) }}">上一页</a>
        </li>
        {% for num in range(1, total_pages + 1) %}
            <li class="page-item {% if num == page %}active{% endif %}">
                <a class="page-link" href="{{ url_for('main.code_modify', page=num, company_id=request.args.get('company_id', ''), code=request.args.get('code', '')) }}">{{ num }}</a>
            </li>
        {% endfor %}
        <li class="page-item {% if page >= total_pages %}disabled{% endif %}">
            <a class="page-link" href="{{ url_for('main.code_modify', page=page+1, company_id=request.args.get('company_id', ''), code=request.args.get('code', '')) }}">下一页</a>
        </li>
    </ul>
</nav>
    </div>
    <script>
        $(document).ready(function () {
            $('[data-bs-toggle="tooltip"]').tooltip();
        });
    </script>
<script>
    $(document).ready(function () {
        // 表单提交处理
        $('#baseeditForm').on('submit', function (event) {
            event.preventDefault(); // 阻止表单默认提交行为


            var inputElement = document.getElementById('company_id');
            var inputElement1 = document.getElementById('companyIdInput');

    // 获取输入框的值
    var inputValue = inputElement.value;
    $('#companyIdInput').val(inputValue);



            console.log("company_id",inputValue)
            // 获取表单数据
            var formData = $(this).serialize();

            console.log('Form Data:', formData); // 调试信息

            $.ajax({
                url: '/save_code_modify', // 替换为你的后端API地址
                type: 'POST',
                data: formData,
                success: function (response) {
                    // 处理成功响应
                    {#alert('数据提交成功');#}
                   showCopySuccessToast()
                    $('#baseModal').modal('hide'); // 关闭模态对话框
                    // 刷新页面或更新DOM
                     $('#search_submit').trigger('click');

                    {#location.reload();#}
                },
                error: function (xhr, status, error) {
                    // 处理错误响应
                    console.error('数据提交失败:', xhr.responseText);
                    // 显示错误信息
                    alert('数据提交失败: ' + xhr.responseText);
                }
            });
        });
    });

    function showCopySuccessToast() {
                var toastDiv = document.createElement('div');
                toastDiv.textContent = '已添加成功';
                toastDiv.style.position = 'fixed';
                toastDiv.style.top = '10%';
                toastDiv.style.left = '50%';
                toastDiv.style.transform = 'translateX(-50%)';
                toastDiv.style.backgroundColor = '#f8d7da';
                toastDiv.style.color = '#721c24';
                toastDiv.style.padding = '10px';
                toastDiv.style.borderRadius = '5px';
                toastDiv.style.zIndex = '1000';
                toastDiv.style.minWidth = '250px';
                toastDiv.style.boxShadow = '0 2px 4px rgba(0, 0, 0, 0.1)';
                document.body.appendChild(toastDiv);

                // 移除提示信息
                setTimeout(function () {
                    document.body.removeChild(toastDiv);
                }, 7000);
            }




</script>
    <style>
    .text-danger {
        color: #dc6a35; /* 或其他您希望的颜色 */
        margin-left: 15px; /* 添加左侧间距 */
    }




    </style>
{% endblock %}
