{% extends 'layout/base.html' %}

{% block content %}
    <div class="container">
        <form action="{{ url_for('main.do_discount', id=discount.id) }}" method="post">
             <input type="hidden" name="status" value="{{ request.args.get('status', '') }}">
              <div class="row mb-3">
                <label for="company_id" class="col-sm-1 col-form-label">公司ID：<span class="text-danger">*</span></label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="company_id" value="{{ discount.company_id|default('', true) }}" name="company_id" required>
                </div>
            </div>

             <div class="row mb-3">
                <label for="phone" class="col-sm-1 col-form-label">联系方式：</label>
                <div class="col-sm-5">
                    <input type="tel" class="form-control" id="phone" name="phone" value="{{ discount.phone|default('', true)}}">
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-1">备注:</div>
                <div class="col-5">{{ discount.remark }}</div>
            </div>
            {% if discount.status == 2 or discount.status == 5 or discount.status == 7 %}
                <div class="row mb-3">
                    <div class="col-1">优惠方案:</div>
                    <div class="col-5">{{ discount.details|default('', true) }}</div>
                </div>
                <div class="row mb-3">
                    <label for="todo_remark" class="col-1 col-form-label">执行结果:</label>
                    <div class="col-5">
                        <textarea class="form-control" id="final_plan" name="final_plan" style="height: 150px">{{ discount.final_plan|default('', true) }}</textarea>
                    </div>
                </div>
            {% else %}
                <div class="row mb-3">
                    <label for="todo_remark" class="col-1 col-form-label">优惠方案:</label>
                    <div class="col-5">
                        <textarea class="form-control" id="todo_remark" name="details" style="height: 150px">{{ discount.details|default('', true) }}</textarea>
                    </div>
                </div>
            {% endif %}
            <div class="row">
                <div class="col-12">
                    {#                {{ discount.status }}#}
                    {% if discount.status==4 %}
                        <button type="submit" name="action" value="communication_2nd" class="btn btn-success me-2" id="communication_2nd-button">提交处理</button>
                    {% elif discount.status==1 %}
                        <button type="submit" name="action" value="communicated" class="btn btn-success me-2" id="communicated-button">提交处理</button>
                        <button type="submit" name="action" value="do_save" class="btn btn-outline-primary me-2" id="save-button">保存草稿</button>
                    {% elif discount.status==2 or discount.status==5 or discount.status==7 %}
                        <button type="submit" name="action" value="completed" class="btn btn-success me-2" id="communicated-button">完成处理</button>
                        <button type="submit" name="action" value="abandons" class="btn btn-outline-primary me-2" id="abandons-button">放弃优惠</button>
                        <button type="submit" name="action" value="save" class="btn btn-outline-primary me-2" id="save-button">保存草稿</button>
                    {% endif %}
                    <!-- 只是保存按钮 -->

                    {% if discount.status==1 or discount.status==4 %}
                        <button type="submit" name="action" value="reject" class="btn btn-danger me-2" id="reject-button">拒绝处理</button>
                    {% endif %}
                    {% if discount.status == 1 %}
                        <button type="submit" name="action" value="process" class="btn btn-outline-primary me-2" id="process-button">提交books处理</button>
                    {% endif %}
                    <a href="{{ url_for('main.discounts') }}" class="btn btn-secondary">取消</a>
                </div>
            </div>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var rejectButton = document.getElementById('reject-button');
            var completeButton = document.getElementById('complete-button');
            var todoRemark = document.getElementById('todo_remark');

            rejectButton.addEventListener('click', function () {
                todoRemark.setAttribute('required', '');
            });

            completeButton.addEventListener('click', function () {
                todoRemark.removeAttribute('required');
            });
        });
    </script>

{% endblock %}
